<section class="ftco-section contact-section">
	<div class="container">
		<h3 class="mb-2">İletişim Formu</h3>
		<div class="row block-12">
			<div class="col-md-12 order-md-last d-flex">
				<form class="bg-light p-5 contact-form" method="post">
					<input type="text" class="form-control" name="AdSoyad" placeholder="Ad Soyad">
					<input type="text" class="form-control" name="Mail" placeholder="Mail">
					<input type="text" class="form-control" name="Konu" placeholder="Konu">
					<textarea name="Mesaj" cols="30" rows="7" class="form-control" placeholder="Mesaj"></textarea>
						<input type="submit" value="Gönder" class="btn btn-primary py-3 px-5">

				</form>
			</div>
		</div>
	</div>
</section>