@{
	ViewData["Title"] = "Hakkımızda";
}

@using SeyahatWebProje.Models.Siniflar;
@model List<Hakkimizda>

<section class="ftco-counter img" id="section-counter">
    	<div class="container">
    		<div class="row d-flex">
                @foreach (var item in Model)
						{
    			<div class="col-md-6 d-flex">
    				<div class="img d-flex align-self-stretch" style="background-image:url(@item.imageURL);"></div>
    			</div>
    			<div class="col-md-6 pl-md-5 py-5">
    				<div class="row justify-content-start pb-3">
		          <div class="col-md-12 heading-section ftco-animate fadeInUp ftco-animated">
                    <p>@item.Aciklama</p>
		          </div>
		        </div>
	        </div>
            }
        </div>
    	</div>
    </section>